 .para{
  background-color: #906598;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 border: #f1f1f1 solid 5px;
 border-radius: 20px;
 font-size: 30px;
 text-align: center;
}
.newsletter{
  height: 200px;
  width: 1550px;
  background-color: white;
  align-self: center;
  border-radius: 50px;
  text-align: center;
}
 .img{
    height: 50px;
    width: 20px;
    }
    .pr oducts{
        height: 600px;
        width: 300px;
        border: 10px solid rgb(63, 20, 20);
        background-color: rgb(31, 121, 58);
       
    
    }
    .bigproduct{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
       
    }
    .bbigproduct{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-image: url(../images/logo1.jpeg);
    
    }
    .purple{
      height: 400px;
      width: 700px;
      text-align: center;
      border: 15px solid purple;
      image-orientation: flip;

    }
    .yaw{
      background-color: #e040d8;
    text-align: center;
    }
    .here{
      text-align: center;
      font-display: white ;
    }

    .products{
      height: 400px;
      width: 400px;
      border: #c571b3 solid 2px;
      text-align: center;
      padding: 20px;
    }
    .mine{
        background-image: url('../images/women on farm2.jpeg ');
        background-size: cover;
        height: 300px;
        width: 40%;
        background-repeat: no-repeat;
        text-align: center;
        border-width: 25px;
        border: 20px rgb(37, 15, 36) solid;
        border-radius: 20px;
        margin: 0 auto;
        flex-wrap: wrap;
        padding: 3%;
        background-position: center;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
       }
         .big-photo{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
         }
         .bigpic{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
         }
    
         .small-photo{
            border: #183841 solid;
            justify-content: space-around;
            padding: 20px;
    
         }
         .photo{
            width: 30%;
            margin: 1%;
            border: 3px solid color red ;
         }
    
       h4{
          text-align: center;color: rgb(232, 200, 200);background-color: rgb(218, 20, 172);
           text-transform: uppercase;size: 60px;
          font-style: inherit;
       }
    
       body{
        background-color:white;
    }
    
    /* h1{
        font-size: 40px;
        font-family: fantasy;
        text-align: center;
    } */
    
    .big-div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    background-color:rgb(247, 210, 244);
    gap: none;
    }
    
    .big-div img{
        border-radius: 10px;
        border: none ;
    }
    nav ul{
      list-style: none;
      margin: 0 1rem;
    }
    nav ul li{
      display: inline;
      margin: 0 1rem;
    }
  
    footer{
        background-color: rgb(212, 172, 206);
        border: #a5d066 10px solid;
        
    
    }
    footer li {
    display: block;
    justify-content: space-evenly;
    gap: 20px;
    }
    .form1{
        background-color: white;
        text-align: right;
        height: 50%;
        width: 50%;
    }
    Bordered form
form {
    border: 3px solid #f1f1f1;
  }
  
  Full-width inputs
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=text],input[type=name]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=date],input[type=date ]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=email],input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=number],input[type=telephone ]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=text],input[type=countries]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .sign{
    display: flex;
    flex-wrap: wrap;
  }
    .form1{
      text-align: left;
        background-color: #f3f685;
      
   }
   .icon{
    height: 300px;
    width: 300px;
   }
  /* /* Set a style for all buttons
  /* button { */
button{
    background-color: #68887c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
  } */
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
  }
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;

    }
    * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.uni{
  height: 400px;
  width: 800px;
  text-align: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #084931;
}

.dia{
  height: 400px;
  width: 800px;
}
.first{
  display: flex;
  flex: wrap;
}
.tri{
  height: 600px;
  width: 200px;
  background-color: #8c7d88;
  -ms-text-combine-horizontal: digits;
}
.sept{
  background-color: white;
  height: 600px;
  width: 1000px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;


}
.just color{
  background-color: #0fc4f1;
  height: 600px;
  width: 400;
}
.second{
  display: flex;
  flex-wrap: wrap;

}
.justimage{
  height: 300px;
  width: 800px;
}
.last{
  height: 300px;
  width: 700px;
  background-color: #0fc4f1;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  vertical-align: middle;
}
.third{
  display: flex;
  flex-wrap: wrap;
}
.p{
  background-color: #0fc4f1;
}
.cont{
  height: 400px;
  width: 700px;
  background-image: url(../images/loo2.png);
background-repeat: no-repeat;
background-size: cover;
}
